<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>armor.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,830},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>armor_block.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,263},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>bean.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,860},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,12},{40,40}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>blade_wave.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,426},{36,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,64}}</string>
                <key>sourceSize</key>
                <string>{36,64}</string>
            </dict>
            <key>bullet.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,400},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>construct.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,757},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>contra_wall.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{107,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,400}}</string>
                <key>sourceSize</key>
                <string>{107,400}</string>
            </dict>
            <key>crystal.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,684},{68,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,80}}</string>
                <key>sourceSize</key>
                <string>{68,80}</string>
            </dict>
            <key>fantome_chase.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,324},{74,120}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,0},{74,120}}</string>
                <key>sourceSize</key>
                <string>{100,120}</string>
            </dict>
            <key>fantome_rest.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,111},{48,102}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,18},{48,102}}</string>
                <key>sourceSize</key>
                <string>{100,120}</string>
            </dict>
            <key>fantome_run.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,292},{76,120}}</string>
                <key>offset</key>
                <string>{12,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,0},{76,120}}</string>
                <key>sourceSize</key>
                <string>{100,120}</string>
            </dict>
            <key>fire1.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,847},{45,31}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{45,31}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>fire2.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,687},{33,45}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{33,45}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>fire3.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,734},{45,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{45,33}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>fire4.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,847},{31,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{31,45}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>firebase1.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,815},{43,58}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{43,58}}</string>
                <key>sourceSize</key>
                <string>{43,64}</string>
            </dict>
            <key>firebase2.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,606},{43,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,64}}</string>
                <key>sourceSize</key>
                <string>{43,64}</string>
            </dict>
            <key>firebase3.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,540},{43,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,64}}</string>
                <key>sourceSize</key>
                <string>{43,64}</string>
            </dict>
            <key>flower.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,804},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,764},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>heart.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,754},{65,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,59}}</string>
                <key>sourceSize</key>
                <string>{65,59}</string>
            </dict>
            <key>heart_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,390},{58,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{58,52}}</string>
                <key>sourceSize</key>
                <string>{64,58}</string>
            </dict>
            <key>hero1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,400},{92,94}}</string>
                <key>offset</key>
                <string>{8,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,4},{92,94}}</string>
                <key>sourceSize</key>
                <string>{150,110}</string>
            </dict>
            <key>hero10.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,453},{74,94}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,3},{74,94}}</string>
                <key>sourceSize</key>
                <string>{150,110}</string>
            </dict>
            <key>hero11.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,444},{74,96}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,3},{74,96}}</string>
                <key>sourceSize</key>
                <string>{150,110}</string>
            </dict>
            <key>hero12.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,365},{86,96}}</string>
                <key>offset</key>
                <string>{-8,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,3},{86,96}}</string>
                <key>sourceSize</key>
                <string>{150,110}</string>
            </dict>
            <key>hero13.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,520},{92,92}}</string>
                <key>offset</key>
                <string>{7,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,6},{92,92}}</string>
                <key>sourceSize</key>
                <string>{150,110}</string>
            </dict>
            <key>hero14.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,592},{90,92}}</string>
                <key>offset</key>
                <string>{7,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,7},{90,92}}</string>
                <key>sourceSize</key>
                <string>{150,110}</string>
            </dict>
            <key>hero15.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,529},{90,92}}</string>
                <key>offset</key>
                <string>{7,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,7},{90,92}}</string>
                <key>sourceSize</key>
                <string>{150,110}</string>
            </dict>
            <key>hero16.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,198},{92,106}}</string>
                <key>offset</key>
                <string>{8,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,4},{92,106}}</string>
                <key>sourceSize</key>
                <string>{150,110}</string>
            </dict>
            <key>hero17.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,2},{98,106}}</string>
                <key>offset</key>
                <string>{15,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,4},{98,106}}</string>
                <key>sourceSize</key>
                <string>{150,110}</string>
            </dict>
            <key>hero18.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,102},{94,106}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,4},{94,106}}</string>
                <key>sourceSize</key>
                <string>{150,110}</string>
            </dict>
            <key>hero2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,494},{90,94}}</string>
                <key>offset</key>
                <string>{8,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,4},{90,94}}</string>
                <key>sourceSize</key>
                <string>{150,110}</string>
            </dict>
            <key>hero3.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,370},{82,94}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,5},{82,94}}</string>
                <key>sourceSize</key>
                <string>{150,110}</string>
            </dict>
            <key>hero4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,586},{70,94}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,6},{70,94}}</string>
                <key>sourceSize</key>
                <string>{150,110}</string>
            </dict>
            <key>hero5.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,621},{64,92}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,7},{64,92}}</string>
                <key>sourceSize</key>
                <string>{150,110}</string>
            </dict>
            <key>hero6.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,614},{82,92}}</string>
                <key>offset</key>
                <string>{-11,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,6},{82,92}}</string>
                <key>sourceSize</key>
                <string>{150,110}</string>
            </dict>
            <key>hero7.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,520},{70,94}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,6},{70,94}}</string>
                <key>sourceSize</key>
                <string>{150,110}</string>
            </dict>
            <key>hero8.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,454},{64,94}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,6},{64,94}}</string>
                <key>sourceSize</key>
                <string>{150,110}</string>
            </dict>
            <key>hero9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,658},{82,92}}</string>
                <key>offset</key>
                <string>{9,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,6},{82,92}}</string>
                <key>sourceSize</key>
                <string>{150,110}</string>
            </dict>
            <key>hero_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,161},{101,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,100}}</string>
                <key>sourceSize</key>
                <string>{101,100}</string>
            </dict>
            <key>home.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,738},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>iron_wall.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,642},{77,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,62}}</string>
                <key>sourceSize</key>
                <string>{77,62}</string>
            </dict>
            <key>magic_wall.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,578},{77,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,62}}</string>
                <key>sourceSize</key>
                <string>{77,62}</string>
            </dict>
            <key>mashroom.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,324},{64,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,53}}</string>
                <key>sourceSize</key>
                <string>{64,53}</string>
            </dict>
            <key>mashroom2.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,672},{45,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,64}}</string>
                <key>sourceSize</key>
                <string>{45,64}</string>
            </dict>
            <key>master_blade.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,698},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>pac_enemy.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,932},{60,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,64}}</string>
                <key>sourceSize</key>
                <string>{60,64}</string>
            </dict>
            <key>pac_enemy1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,932},{60,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,64}}</string>
                <key>sourceSize</key>
                <string>{60,64}</string>
            </dict>
            <key>pac_enemy2.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,870},{60,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,64}}</string>
                <key>sourceSize</key>
                <string>{60,64}</string>
            </dict>
            <key>pac_enemy3.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,781},{60,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,64}}</string>
                <key>sourceSize</key>
                <string>{60,64}</string>
            </dict>
            <key>pacman.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,823},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,12},{40,40}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>pacman1.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,880},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>pacman2.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,880},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>princess.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,349},{93,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,97}}</string>
                <key>sourceSize</key>
                <string>{93,97}</string>
            </dict>
            <key>replay.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,218},{175,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,104}}</string>
                <key>sourceSize</key>
                <string>{175,104}</string>
            </dict>
            <key>s_bullet.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,370},{54,38}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,15},{54,38}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>sand_wall.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,514},{77,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,62}}</string>
                <key>sourceSize</key>
                <string>{77,62}</string>
            </dict>
            <key>shell.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,814},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>static_wall.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,450},{77,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,62}}</string>
                <key>sourceSize</key>
                <string>{77,62}</string>
            </dict>
            <key>tile1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,742},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>tile2.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,706},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>tile3.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,687},{68,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{68,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>tile4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,880},{50,52}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,8},{50,52}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>tile5.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,492},{46,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,14},{46,42}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>timer.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,778},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>ui_item.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,218},{129,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,100}}</string>
                <key>sourceSize</key>
                <string>{129,100}</string>
            </dict>
            <key>ui_life.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,111},{295,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{295,105}}</string>
                <key>sourceSize</key>
                <string>{295,105}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>items.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:05cb638f66406fb2149fcd77495dfa74:1/1$</string>
            <key>textureFileName</key>
            <string>items.png</string>
        </dict>
    </dict>
</plist>
